/* Gradient background for the entire page */
body {
    background: linear-gradient(to bottom left, #c56868, #590505);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* White background for the registration form container */
.register-container {
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1 {
    font-family: Helvetica;
    font-size: 2rem;
}

a {
    text-decoration: none;
}