body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Roboto, sans-serif;
    color: #212529;
}

.topbar {
    background-color: #ffffff;
    z-index: 1030;
    /* This is a standard height for a py-3 header */
    height: 74px;
}

.top-logo {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 4px;
}

.title #font {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.title #font span:nth-child(1) {
    color: red;
}

.title #font span:nth-child(2) {
    color: green;
}

.title #font span:nth-child(3) {
    color: blue;
}

/* Page Title */
h2 {
    font-weight: 600;
    color: #343a40;
}

.back-link {
    color: #6c757d;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.back-link:hover {
    color: #dc3545;
}

.accordion-button:focus {
    box-shadow: none !important;
    background-color: transparent !important;
    outline: none;
    border: none;
}

.accordion-button:not(.collapsed):focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-item:focus-within {
    border: 1px solid #dc3545 !important;
    border-radius: 0.375rem;
}

.accordion-item {
    border: 1px solid #dee2e6;
}

.accordion-button:focus-visible {
    box-shadow: none !important;
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
}

.dropdown-menu {
    border-radius: 0.6rem;
    border: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.dropdown-toggle:focus,
.dropdown-toggle.active {
    box-shadow: none !important;
    outline: 0 !important;
}

.btn-pill-hover {
    transition: all 0.2s ease-in-out;
}

.btn-pill-hoverr:hover {
    background-color: #0d6efd;
    /* This is the primary blue color */
    color: #fff !important;
    /* This forces the text to be white */
    border-radius: 50rem;
    /* This makes it a "pill" shape */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* Optional: adds a slight shadow */
}

.btn-pill-hover:hover {
    background-color: #198754;
    /* This is the primary blue color */
    color: #fff !important;
    /* This forces the text to be white */
    border-radius: 50rem;
    /* This makes it a "pill" shape */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    /* Optional: adds a slight shadow */
}

@media (max-width: 576px) {

    .table th,
    .table td {
        font-size: 0.85rem;
    }

    .btn-sm {
        font-size: 0.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}